{{- define "main" }}
<div id="main" class="hc rf p1">
    <main>
        <h1>{{ .Title }}</h1>
        {{ .Content }}
        {{- if .Date }}
        <p>Last Modified: {{ .Date.Format "Monday, January 2, 2006 at 3:04PM"}}</p>
        {{- end }}
    </main>
</div>
<div id="bloglist" class="pt1">
    <ul class="fcl">
    {{- range .Paginator.Pages }}
    <li class="hc p1 rf"> <article>
    <a href="{{ .Permalink }}"><b>{{ .Title }}</b></a><br>
    {{ .Date.Format "2006-01-02 at 3:04PM"}}<br>
    <p>{{ .Summary }}</p>
    {{- if .Truncated }}
    <a href="{{ .Permalink }}">Read More...</a>
    {{- end }}
    </article> </li>
    {{- end }}
    </ul>
</div>
{{- with .Paginator }}
<div id="paginator" class="db">
    {{- with .Prev }}
    <a href="{{ .URL }}" class="lb pg-l mtb1">< Newer</a>
    {{- end }}
    {{- with .Next }}
    <a href="{{ .URL }}" class="lb pg-r mtb1">Older ></a>
    {{- end }}
</div>
{{- end }}
{{- end }}