{{- define "main" }}
<div id="contentbody">
<h1>{{ .Title }}</h1>
{{ .Content }}
{{- if .Date }}
<p>Last modified: {{ .Date.Format "Jan 02, 2006 at 03:04PM" }}</p>
{{- end }}
</div>
<div id="pagelist" class="flex">
{{- range .Paginator.Pages }}
<div class="page-item">
<a href="{{ .Permalink }}" class="block">{{ .Title }}</a>
<p><em>{{ .Date.Format "2006-01-02 at 03:04PM" }}</em></p>
<p>{{ .Summary }}</p>
{{- if .Truncated }}
<a href="{{ .Permalink }}" class="block">Read More</a>
{{- end }}
</div>
{{- end }}
<div id="paginator">
{{- with .Paginator }}
<div id="previousbutton">
{{- with .Prev }}
<a href="{{ .URL }}" class="block whitelink">< Newer</a>
{{- end }}
</div>
<div id="nextbutton">
{{- with .Next }}
<a href="{{ .URL }}" class="block whitelink">Older ></a>
{{- end }}
</div>
{{- end }}
</div>
</div>
{{- end }}