:root {
  color: #fff;
  background-color: #000;
  font-size: 14pt;
}

body {
  margin: 0 auto;
  margin-bottom: 50dvh;
  padding: 0 1rem;
}

a {
  color: #55f;
}

img {
  display: block;
  margin: auto;
  max-width: 85%;
}

.center {
  text-align: center;
}

/* Header */
#site-title {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 30dvh;
  background: #000 var(--bg-image) no-repeat center center;
}

#site-title h1 {
  margin: 0;
  padding: 0.75rem;
  display: block;
  background-color: #000a;
}

#menu-button {
  display: block;
  margin: 1rem 0;
  padding: 0.75rem;
  color: #fff;
  background-color: #333;
  border-radius: 0.35rem;
  cursor: pointer;
  text-align: center;
}

#main-menu {
  display: none;
}

#main-menu.show {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
  height: 100%;
  background-color: #000d;
  z-index: 1000;
}

#main-menu nav {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

#main-menu nav div.menu-item a {
  display: block;
  text-decoration: none;
  padding: 0.75rem;
  color: #fff;
  background-color: #333;
  border-radius: 0.35rem;
  transition: all ease 0.75s;
}

#main-menu nav div.menu-item a.active {
  background-color: #733;
}

#main-menu nav div.menu-item a:hover {
  background-color: #337;
}

/* Content Pane */ 
#content-pane {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#content-pane #r-sidebar {
  margin-top: 2rem;
}

/* Table of Contents */ 
.toc details {
  display: block;
  margin: 1rem 0;
}

.toc details summary {
  padding: 1rem;
  border: solid #fff 1px;
  border-radius: 0.5rem;
}

.toc details ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  padding: 0 1rem;
  border: solid #fff 1px;
  border-radius: 0.5rem;
  ul {
    margin-left: 2rem;
    padding: 0;
    border: none;
  }
}

.toc details ul a {
  text-decoration: none;
  display: block;
  padding: 0.25rem 0;
  margin: 0.25rem 0;
}

/* Pagelist */ 
.pagelist .pagelink {
  display: block;
  text-decoration: none;
  color: #fff;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  margin: 2rem 0;
}

.pagination a {
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  padding: 0.75rem;
  border-radius: 0.25rem;
  transition: all ease 0.75s;
}

.pagination a:hover {
  background-color: #337;
}

/* Footer */ 
footer {
  margin-top: 1rem;
  border-top: solid #fff 1px;
}

.footer-menus {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.footer-menus div div.menu-item a.menu-link {
  display: block;
  padding: 0.25rem;
  color: #fff;
  text-decoration: none;
}

.footer-menus div div.menu-item:not(:last-child) a.menu-link {
  border-bottom: solid #fff 1px;
}

/* Aux Stuff */ 
.social-small {
  display: grid;
  grid-template-columns: repeat(auto-fill, 64px);
  gap: 0.5rem;
}

.social-small a {
  fill: #fff;
}

.social-small a:hover svg {
  fill: var(--accent);
}

.social-large {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social-large .social a {
  background-color: var(--accent);
  display: flex block;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #fff;
  transition: all ease 0.75s;
}

.social-large .social a svg {
  display: block;
  height: 48px;
  fill: #fff;
  transition: all ease 0.75s;
}

.social-large .social a:hover {
  background-color: #fff;
  color: #000;
}

.social-large .social a:hover svg {
  fill: #000;
}

iframe.webapp {
  display: block;
  margin: auto;
  border-radius: 0.75rem;
  width: 95%;
  height: 90dvh;
}

/* Desktop Edition */ 
@media (min-width: 700px) {
  #main-menu {
    display: block;
    position: static;
    background-color: transparent;
    padding: 0;
  }

  #main-menu nav {
    flex-direction: row;
    justify-content: flex-start;
  }

  #content-pane {
    flex-direction: row;
  }

  #content-pane #main-content {
    flex-basis: 70%;
  }

  #content-pane #r-sidebar {
    flex-basis: 30%;
  }

  .footer-menus {
    grid-template-columns: repeat(3, 1fr);
  }
}
